<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    function getValue() {
    var checks = document.getElementsByClassName('zaznacz');
    var str = '';

    for ( i = 0; i < checks.length; i++) {
        if ( checks[i].checked === true ) {
            document.getElementById("update").setAttribute("value", checks[i].value)
            document.getElementById("delete").setAttribute("value", checks[i].value)
            document.getElementById("deleteuser").setAttribute("value", checks[i].value)
            return;
            {#str += checks[i].value + " ";#}
        }
    }


}
</script>

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="red">Przychodnia</span><img src="https://thumbs.gfycat.com/DelayedVacantDassie-size_restricted.gif" height="100" width="100" alt="Światełko"></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
<!--                {% if session.user_id %}-->
                    {% if session.access == 3 %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item nav-link">Panel administratora</li>
                        <li class="nav-item"><a class="nav-link" href="/wizyta">Wizyta</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pacjent">Pacjent</a></li>
                        <li class="nav-item"><a class="nav-link" href="/lekarz">Lekarz</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                    {% endif %}
                    {% if session.access == 2 %}
                    <ul class="navbar-nav mr-auto mt-2">
                                            <li class="nav-item nav-link">Panel lekarza</li>
                        <li class="nav-item"><a class="nav-link" href="/wizyta">Wizyta</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>
                    </ul>
                    {% endif %}
                    {% if session.access == 1 %}
                    <ul class="navbar-nav mr-auto mt-2">
                                            <li class="nav-item nav-link">Panel pacjenta</li>
                        <li class="nav-item"><a class="nav-link" href="/wizyta">Wizyta</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                    {% endif %}
<!--                {% else %}-->
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>

                    </ul>
<!--                {% endif %}-->
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
        </footer>

    </body>

</html>