{% extends "layout.html" %}

{% block title %}
    Pacjenci
{% endblock %}

{% block main %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        <form method="get" action="/pacjent_create">
            <button class="btn btn-primary" type="submit">Dodaj pacjenta</button>
        </form>
        </div>

        <div class="btn-group mr-2" role="group">
        <form method="get" action="/pacjent_update">
               <button name="id" value="" onclick="getValue()" id="update" class="btn btn-primary" type="submit">Zmień pacjenta</button>
        </form>
        </div>
         <div class="btn-group mr-2" role="group">
            <form method="get" action="/pacjent_delete">
               <button name="id" value="" onclick="getValue()" id="delete" class="btn btn-primary" type="submit">Usuń pacjenta</button>
        </form>
         </div>

        <div class="btn-group mr-2" role="group">
            <form method="get" action="/pacjent_deleteuser">
               <button name="id" value="" onclick="getValue()" id="deleteuser" class="btn btn-primary" type="submit">Usuń Dane Logowania</button>
        </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead class>
        <tr>
            <th scope="col">Zaznacz</th>
            {% for column in columns %}
                <th scope="col">{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for row in rows %}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="radio" class="form-check-input zaznacz" name="check" id="{{ row[0] }}" value="{{ row[0] }}">
                    </div>
                </td>
                {% for value in row[1:] %}
                    <td>{{ value }}</td>
                {% endfor %}


            </tr>
        {% endfor %}


        </tbody>

    </table>
{#    <a href="#" onclick="getValue();return false;">Get Value</a>#}




    </tr>
{% endblock %}
