{% extends "layout.html" %}

{% block title %}
    Pacjenci
{% endblock %}

{% block main %}


    <table class="table table-striped">
        <thead class>
        <tr>
            <th scope="col">Zaznacz</th>
            {% for column in columns %}
                <th scope="col">{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for row in rows %}
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input zaznacz" id="{{ row[0] }}" value="{{ row[0] }}">
                        <label class="custom-control-label" for="{{ row[0] }}"></label>
                    </div>
                </td>
                {% for value in row[1:] %}
                    <td>{{ value }}</td>
                {% endfor %}


            </tr>
        {% endfor %}


        </tbody>

    </table>
{#    <a href="#" onclick="getValue();return false;">Get Value</a>#}
    <form method="get" action="/pacjent_create">
        <button class="btn btn-primary" type="submit">Dodaj pacjenta</button>
    </form>



    <form method="get" action="/pacjent_update">
           <button name="id" value="" onclick="getValue()" id="update" class="btn btn-primary" type="submit">Zmień pacjenta</button>
    </form>

        <form method="get" action="/pacjent_delete">
           <button name="id" value="" onclick="getValue()" id="delete" class="btn btn-primary" type="submit">Usuń pacjenta</button>
    </form>



    </tr>
{% endblock %}
