{% extends "layout.html" %}

{% block title %}
    Wizyty
{% endblock %}

{% block main %}
        <div class="btn-toolbar" role="toolbar">
        {% if session.access == 3 or session.access == 1 %}
        <div class="btn-group mr-2" role="group">

        <form method="get" action="/wizyta_create">
            <button class="btn btn-primary" type="submit">Dodaj wizytę</button>
        </form>
        </div>
        {% endif %}

        <div class="btn-group mr-2" role="group">
        <form method="get" action="/wizyta_update">
               <button name="id" value="" onclick="getValue()" id="update" class="btn btn-primary" type="submit">Zmień wizytę</button>
        </form>
        </div>
         <div class="btn-group mr-2" role="group">
            <form method="get" action="/wizyta_delete">
               <button name="id" value="" onclick="getValue()" id="delete" class="btn btn-primary" type="submit">Usuń wizytę</button>
        </form>
         </div>

    </div>


    <table class="table table-striped">
        <thead class>
        <tr>
            <th scope="col">Zaznacz</th>
            {% for column in columns %}
                <th scope="col">{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for row in rows %}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="radio" class="form-check-input zaznacz" name="check" id="{{ row[0] }}" value="{{ row[0] }}">
                    </div>
                </td>
                {% for value in row[1:] %}
                    <td>{{ value }}</td>
                {% endfor %}


            </tr>
        {% endfor %}


        </tbody>

    </table>
{#    <a href="#" onclick="getValue();return false;">Get Value</a>#}






    </tr>
{% endblock %}
